# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Firebase Db 
/src/components/Login/
/src/components/Dashboard/
/src/firebase.js
client_secret_16221924125-hs8tcjct1iokr8qso8f8g3hlhbi4q2p7.apps.googleusercontent.com.json
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
